.main { 
    width : 100% ;
    padding : 2rem  0 ;  
    height : fit-content; 
    background : $dark-grey-2  ; 


    &__wrap {
        width: 35rem ;
        margin: 0 auto ;
        margin-bottom : 4rem ; 
        padding: 1.5rem 2rem 4rem ;
        font-size: 1.6rem ;
        background: rgb(250, 250, 250);
        border-radius: .3rem ;
        -webkit-border-radius: .3rem ;
        -moz-border-radius: .3rem ;
        -ms-border-radius: .3rem ;
        -o-border-radius: .3rem ;

        box-shadow : 0 0 1rem .5rem rgba($black , .5) ; 

    
        & .display {
            width : 100% ; 
            background: darken($color: $sunray, $amount : 8% ) ;
            text-align: right ;
            padding: 1rem .5rem ;
            border-radius: $border-radius-medium ;
            -webkit-border-radius: $border-radius-medium ;
            -moz-border-radius: $border-radius-medium ;
            -ms-border-radius: $border-radius-medium ;
            -o-border-radius: $border-radius-medium ;
            margin-bottom  : 1rem ; 
            box-shadow : 0 0 .6rem .6rem rgba($white, .2);   
            border-bottom : .3rem solid $black ;  



            
            &__history { 
                height : 1em ; 
                margin-bottom : .5em ;
                
            }

            &__output { 

            }
        }

    }

}

.buttons-holder { 
    width : 100% ; 
    margin : 0 auto ; 



    p {     
        &:not(:last-child) { 
        margin-bottom : 1rem ;  
        }
        
        button { 
            &:not(:last-child) { 
                margin-right  : 1.3rem ; 
            }
        
            
    }
        
    }
    
}