* , 
*::before , 
*::after { 
    margin : 0 ; 
    padding :0 ; 
    box-sizing : border-box ;  
    font-family: inherit ; 
    font-size : inherit ; 
    
}

html { 
    font-size : 62.5% ;  
     font-family : 'Rubik' , 'Roboto' , 'Montserrat'  ; 

     

 
      @include respond-variable ($biggest) { 
        font-size : 55% ; 
      } 

     @include respond-variable ($big){ 
          font-size : 50% ; 
     }
     
     @include respond-variable($small){ 
        font-size : 40% ; 

     }

     @include respond-variable($smallest){ 
        font-size :  30% ;
     }
 
     @include respond-variable(175px){ 
         font-size : 20% ; 
     }
    }
    